<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Portal</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-black">

  <div class="text-center flex items-center justify-center h-screen">

    <div><img src="/profileIcon.png" alt="Student Photo" class="w-64 h-64 rounded-full shadow-lg object-cover border-5 border-purple-600"></div>
 <div class="text-left ml-9">
    <h2 class="text-3xl font-semibold text-white mb-2"><%=username%></h2>
    <p class="text-white mb-1">Age: <%=age%></p>
    <p class="text-white mb-1">Role: <%=role%></p>
    <p class="text-white mb-4">ID: <%=id%></p>
    <a href="/admin/adminPage" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-400">Upload Files</a>
    <a href="/admin/chat" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-400">Chat with Admin</a>
  
  </div>
</div>

</body>
</html>
