<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Home</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white min-h-screen flex flex-col items-center p-8">
 <div>
  <%files.forEach((val)=>{%>
    <p>Filename: <%=val.filename%></p>
    <p>Uploaded: <%=val.uploadTime%></p>
    <img src="/uploads/<%=val.filename%>" alt="File" class="w-full h-48 object-cover mt-2">
  <%})%>
 </div>
</body>
</html>
