<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/student" method="post">
        <input type="text" name="name" placeholder="enter name">
        <input type="number" name="age" placeholder="enter age">
        <input type="number" name="className" placeholder="enter class">
        <button type="submit">Submit</button>
    </form>
</body>
</html>